body {
    background: url(jellyfish.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: #eccfce;
    margin-left: 10px;
}

/* navbar */
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 10px;
}

#mainNavbar .navbar-brand {
    color: #eccfce;
}

#mainNavbar .nav-link {
    color: #a4bcbc;
}

#mainNavbar .nav-link:hover {
    color: #eccfce;
}

.intro {
    margin-top: 250px;
}

.name {
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 125px;
}

p {
    margin-top: 75px;
    font-size: 2.5rem;
    word-spacing: 2.5px;
    letter-spacing: 2.75px;
}

.links {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 2.5rem;
    word-spacing: 67px;
}

/* overwrite default colour of icons */
.fab {
    color: #eccfce;
}

/* change color of navbar when user scrolls */
.navbar.scrolled {
    background: #131c26;
    transition: background 500ms;
}